.block__dev {
    background-color: #ffffff;
    margin-left: -108px;
    margin-right: -108px;
    padding: 80px 108px;
    width: 100%;
    display: flex;
    gap: 128px;
  
    &-leftblock {
      width: 600px;
      display: grid;
      gap: 34px;
    }
  
    &-content {
      display: grid;
      gap: 32px;
    }
  
    &-title {
      font-family: "Inter Bold", sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 144%;
      letter-spacing: 0.33px;
      color: #101828;
    }
  
    &-text {
      font-family: "SF Pro Text Medium", sans-serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.24px;
      color: #101828;
    }
  
    &-tech {
      width: 496px;
      display: grid;
      gap: 16px;
    }
  
    &-subtitle {
      font-family: "SF Pro Display Semibold", sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.34px;
      color: #101828;
    }
  
    &-enum {
      font-family: "SF Pro Text Regular", sans-serif;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.41px;
      color: #344054;
  
      span {
        color: #2d66ee;
      }
    }
  
    &-list {
      display: grid;
    }
  
    &-item {
      padding: 12px 0;
      display: flex;
      gap: 12px;
      align-items: center;
      width: fit-content;
  
      a {
        font-family: "SF Pro Display Regular", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.38px;
        color: #1d2939;
        text-decoration: none;
        cursor: pointer;
  
        &:hover {
          font-family: "SF Pro Display Semibold", sans-serif;
          font-weight: 600;
          color: #101828;
          border-bottom: solid 1px #2d66ee;
        }
      }
    }
  }
  
  @media screen and (max-width: 1224px) {
    .block__dev {
      margin-left: -80px;
      margin-right: -80px;
      padding: 80px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .block__dev {
      margin-left: -32px;
      margin-right: -32px;
      padding: 32px;
      gap: 82px;
  
      &-leftblock {
        margin-left: 40px;
        width: 320px;
        gap: 32px;
      }
  
      &-content,
      &-tech {
        width: 320px;
      }
  
      &-title {
        font-size: 28px;
      }
  
      &-enum {
        font-size: 14px;
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .block__dev {
      margin-left: -16px;
      margin-right: -16px;
      padding: 32px 16px;
      flex-direction: column;
      gap: 32px;
  
      &-leftblock {
        margin-left: initial;
      }
  
      &-enum {
        font-size: 14px;
        width: 278px;
      }
    }
  }
  