@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Black.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Heavy.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Heavy.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Italic.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Italic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot");
  src: local("HelveticaNeueCyr"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("/src/assets/fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-Bold.eot");
  src: local("Inter"), url("/src/assets/fonts/Inter/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Inter/Inter-Bold.woff") format("woff"), url("/src/assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-BoldItalic.eot");
  src: local("Inter"), url("/src/assets/fonts/Inter/Inter-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Inter/Inter-BoldItalic.woff") format("woff"), url("/src/assets/fonts/Inter/Inter-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-Medium.eot");
  src: local("Inter"), url("/src/assets/fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Inter/Inter-Medium.woff") format("woff"), url("/src/assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-MediumItalic.eot");
  src: local("Inter"), url("/src/assets/fonts/Inter/Inter-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Inter/Inter-MediumItalic.woff") format("woff"), url("/src/assets/fonts/Inter/Inter-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-Regular.eot");
  src: local("Inter"), url("/src/assets/fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Inter/Inter-Regular.woff") format("woff"), url("/src/assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-RegularItalic.eot");
  src: local("Inter"), url("/src/assets/fonts/Inter/Inter-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Inter/Inter-RegularItalic.woff") format("woff"), url("/src/assets/fonts/Inter/Inter-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.eot");
  src: local("SF Pro Display"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.woff") format("woff"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.eot");
  src: local("SF Pro Display"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.woff") format("woff"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.eot");
  src: local("SF Pro Display"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.woff") format("woff"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.eot");
  src: local("SF Pro Display"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.woff") format("woff"), url("/src/assets/fonts/SFProDisplay/SF-Pro-Display-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SFProText/SFProText-Semibold.eot");
  src: local("SF Pro Text"), url("/src/assets/fonts/SFProText/SFProText-Semibold.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProText/SFProText-Semibold.woff") format("woff"), url("/src/assets/fonts/SFProText/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.eot");
  src: local("SF Pro Text"), url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.woff") format("woff"), url("/src/assets/fonts/SFProText/SFProText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SFProText/SFProText-Medium.eot");
  src: local("SF Pro Text"), url("/src/assets/fonts/SFProText/SFProText-Medium.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProText/SFProText-Medium.woff") format("woff"), url("/src/assets/fonts/SFProText/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SFProText/SFProText-MediumItalic.eot");
  src: local("SF Pro Text"), url("/src/assets/fonts/SFProText/SFProText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProText/SFProText-MediumItalic.woff") format("woff"), url("/src/assets/fonts/SFProText/SFProText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SFProText/SFProText-Regular.eot");
  src: local("SF Pro Text"), url("/src/assets/fonts/SFProText/SFProText-Regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProText/SFProText-Regular.woff") format("woff"), url("/src/assets/fonts/SFProText/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SFProText/SFProText-RegularItalic.eot");
  src: local("SF Pro Text"), url("/src/assets/fonts/SFProText/SFProText-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/SFProText/SFProText-RegularItalic.woff") format("woff"), url("/src/assets/fonts/SFProText/SFProText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}/*# sourceMappingURL=fonts.css.map */