.footer {
    border-radius: 12px;
    padding: 24px;
    margin-top: auto;
    margin-bottom: 48px;

    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    background: #101828;
}

.footer__content {
    display: grid;
    grid-gap: 40px;

    align-items: center;
}

.footer__title {
    font-family: "Inter Bold", sans-serif;
    font-weight: 700;
    font-size: 36px;
    
    line-height: 50%;
    letter-spacing: 0em;
    color: #fff;
    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;

    row-gap: 32px;
}

.footer__contact {
    display: grid;
    gap: 8px;

    flex: 1;
    min-width: 160px;
}

.footer__contact-title {
    display: flex;
    gap: 8px;

    align-items: center;
}

.footer__contact-title p{
    font-family: "SF Pro Text Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;

    line-height: 18px;
    letter-spacing: -0.15px;
    color: #98a2b3;
}

.footer__contact-content {
    font-family: "SF Pro Text Semibold", sans-serif;
    font-weight: 600;
    font-size: 17px;

    line-height: 22px;
    letter-spacing: -0.41px;
    color: #FFFFFF;

    text-decoration: none;
}

.footer__end {
    display: flex;
    gap: 12px;

    align-items: center;
    justify-content: center;
}

.footer__end-text {
    font-family: "SF Pro Text Regular", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 46px 32px;
        width: 100%;

        margin-bottom: 0;
        margin-left: -32px;
    }

    .footer__content {
        grid-gap: 32px;
    }

    .footer__contact-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 38px 16px;
        margin-left: -16px;
    }

    .footer__content {
        grid-gap: 52px;
    }

    .footer__title {
        font-size: 32px;
    }
}