.header {
    padding: 16px 24px;
    border-radius: 12px;
    position: sticky;
    top: 24px;
    width: fit-content;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.header__content {
    gap: 80px;
    display: flex;
    align-items: center;
}

.header__title {
    font-family: "Inter Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.15px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2d66ee;
}

.header__links {
    gap: 24px;
    display: flex;
}

.header__link, .header__contact-content a {
    font-family: "SF Pro Text Medium", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-decoration: none;
    color: #101828;
}

.header__contacts {
    gap: 32px;
    display: flex;
}

.header__contact {
    gap: 8px;
    display: flex;
    align-items: center;
}

.header__contact-content {
    gap: 16px;
    display: flex;
}

.header__contact-content a {
    color: #2d66ee;
}
