html {
	font-family: var(--font-family_1);
	font-style: normal;
	font-weight: 400;
}

body {
	background: #f2f4f7;
	width: 100%;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 108px;
	box-sizing: border-box;

	@media screen and (max-width: 1224px) {
		padding: 0 80px;
	}

	@media screen and (max-width: 1023px) {
		padding: 0 32px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 16px;
	}
}

* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}